*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    min-height: 100vh;
    background: #f2f2f2;
}
img{
    height: 30%;
    width: 30%;
}
#header{
    margin-top: 5px;
    border-radius: 10px;
    background: #004B85;
}
#calendario{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    
}
#wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
}
#wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}
header .icons span{
    height: 38px;
    width: 38px;
    margin: 0px;
    font-size: 1.9rem;
    color: #878787;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    
}
header .icons span:hover{
    background: #f2f2f2;
}
.calendar{
    padding: 20px;
}
.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar .weeks li{
    font-weight: 500;
}

.calendar ul li{
    position: relative;
    width: calc(100%/7);
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.calendar .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.days li:hover::before{
    background: #f2f2f2;
}
.days li.active::before{
    background: #D60019;
}

#containerbusqueda{
    justify-content: center;
}

#selector{
    display: flex;
    justify-content: center !important;
}

#tituloActividades{
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background: #004B85;
}

#data{
    margin-left: 5px;
    display: flex;
}

#listaData{
    display: flex;
    justify-content: center;

}
footer{
    margin-top: 10vh;
    position: absolute;
    background: #004B85;
}

#lineafooter{
    height: 2px;
    background: #008462;
}
h1{
    color:#f2f2f2;
}