{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '\css\bootstrap.css' %}">
    <link rel = "stylesheet" href= "{% static '\css\style.css' %}"/>
    <!-- Iconos de Google -->
    <link rel="stylesheet" href = "https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src = "{% static 'js\script.js' %}" defer></script>
    <title>Document</title>
</head>
<body>
    <div id = "header" class = "container">
        <img src = "{% static '\img\version horizontal.png' %}"/>
        <div id = "calendario" class = "row">
        <div id = "wrapper" class ="col-12" >
            <header>
                <p class="current-date"></p>
                <div class ="icons">
                    <span id = "Previa" class="material-symbols-rounded">chevron_left</span>
                    <span id = "Siguiente" class="material-symbols-rounded">chevron_right</span>
                </div>
            </header>
            <div class="calendar">
                <ul class = "weeks">
                    <li>Lu</li>
                    <li>Ma</li>
                    <li>Mi</li>
                    <li>Ju</li>
                    <li>Vi</li>
                    <li>Sa</li>
                    <li>Do</li>
                </ul>
                <ul class = "days"></ul>
            </div>
        </div>
    </div>
    </div>
  
    <div id = "containerbusqueda" class = "container">
    <div class = "row">
        <div class="dropdown col-6">
          <center>
          <select id="miSelect">
            {% for segmento in segmentos %}
              <option value="{{segmento.1}}">{{segmento.1}}</option>
            {% endfor %}
          </select>
        </center>
        </div>
          <div class="dropdown col-6">
            <center>
            <select id="miSelect">
              {% for tipo in tipos %}
                <option value="{{tipo.1}}">{{tipo.1}}</option>
              {% endfor %}
            </select>
          </center>
        </div>
    </div>
    <div id = "actividades" class = container>
        <div id="tituloActividades"><div><h1>Actividades</h1></div></div>
        <div class = "row">
        <ul id = "data" class="list-group list-group-horizontal">
            <li id = "listaData" class="list-group-item col-4">Hito</li>
            <li id = "listaData" class="list-group-item col-2">Fecha Inicio</li>
            <li id = "listaData" class="list-group-item col-2">Fecha Termino</li>
            <li id = "listaData" class="list-group-item col-2">Tipo</li>
            <li id = "listaData" class="list-group-item col-2">Segmento</li>
        </ul>
        <!--INICIO DE SCRIPT PARA COMPLETAR LISTA DE ACTIVIDADES-->
        {% for evento in eventos %}
        <ul id = "data" class="list-group list-group-horizontal">
          <li id = "listaData" class="list-group-item col-4">{{evento.titulo}}</li>
          <li id = "listaData" class="list-group-item col-2">{{evento.fecha_inicio}}</li>
          <li id = "listaData" class="list-group-item col-2">{{evento.fecha_termino}}</li>
          <li id = "listaData" class="list-group-item col-2">{{evento.tipo}}</li>
          <li id = "listaData" class="list-group-item col-2">{{evento.segmento}}</li>
      </ul>
        {% endfor %}
        <!-- DE SCRIPT PARA COMPLETAR LISTA DE ACTIVIDADES-->
        </div>
    </div>
</div>
    <footer class = "container-fluid">
      <img src = "{% static '\img\version horizontal.png' %}"/>
      <div id = "lineafooter" class="container-fluid"></div>
      <div id =  "footerinferior">
        <p>creado por: Felipe Lucero, Kaled Hernández, Oscar Fernandez</p>
      </div>
        
    </footer>
</body>
</html>