

<div id = "containerCard" class = "container">
    <div class = "row">
        <div class = "col-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">TITULO EVENTO</h5>
              <h6 class="card-subtitle mb-2 text-muted">segmento evento</h6>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sequi deleniti iusto, omnis aspernatur magnam eos assumenda pariatur suscipit, fugit, consectetur ea amet! Quas tempora alias culpa fugiat ut quis.</p>
            </div>
          </div>
        </div>
        <div class = "col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">TITULO EVENTO</h5>
                  <h6 class="card-subtitle mb-2 text-muted">segmento evento</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sequi deleniti iusto, omnis aspernatur magnam eos assumenda pariatur suscipit, fugit, consectetur ea amet! Quas tempora alias culpa fugiat ut quis.</p>
                </div>
              </div>
            </div>
            <div class = "col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">TITULO EVENTO</h5>
                      <h6 class="card-subtitle mb-2 text-muted">segmento evento</h6>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sequi deleniti iusto, omnis aspernatur magnam eos assumenda pariatur suscipit, fugit, consectetur ea amet! Quas tempora alias culpa fugiat ut quis.</p>
                    </div>
                  </div>
                </div>
    </div>
</div>
